<div class="page-header">
  <div>
    <h1 class="page-title">Edit Stock</h1>
    <div class="page-subtitle"><%= @variant.sku %></div>
  </div>
  <%= link_to "Cancel", inventory_product_path(@product), class: "btn btn-outline" %>
</div>
<%= render 'form' %>
