<div class="d-flex flex-column p-3" style="width: 240px; min-height: 100vh; background-color: #1C1829;">
  <ul class="nav nav-pills flex-column gap-1 mt-2">
    <li class="nav-item">
      <%= link_to admin_metrics_path, class: "nav-link text-white" do %>
        <i class="bi bi-bar-chart me-2"></i> Metrics
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to admin_branches_path, class: "nav-link text-white" do %>
        <i class="bi bi-shop me-2"></i> Branches
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to admin_warehouses_path, class: "nav-link text-white" do %>
        <i class="bi bi-building me-2"></i> Warehouses
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to admin_users_path, class: "nav-link text-white" do %>
        <i class="bi bi-people me-2"></i> Users
      <% end %>
    </li>
  </ul>
</div>
