<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "RETAILCORE / BRANCH", branch_root_path, id:"logo", class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#branchNav">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
