<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid logo">
    <%= link_to "RETAILCORE / INV", inventory_root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#inventoryNav">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
