<div class="row">
  <% @roles.each do |role| %>
    <div class="col-md-4 mb-3">
      <%= link_to admin_users_path(role: role), class: "card hover-lift text-decoration-none" do %>
        <div class="card-body text-center">
          <div class="page-subtitle mb-2"><%= role.humanize %></div>
          <div class="page-title"><%= User.where(role: role).count %></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
