<h1>Shop#content</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th >Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product|%>
      <tr>
        <td><%= product.name%></td>
        <td><%= product.description%></td>
        <td><%= product.category%></td>
        <td><%= link_to 'Show', product_path(product)%></td>
      </tr>
    <%end%>
  </tbody>
</table>
